DB_HOST=localhost
DB_PORT=5432
DB_NAME=poppy
DB_USERNAME=poppy
DB_PASSWORD=poppy
POPPY_AGENT_TOKEN=
POPPY_AGENT_HEARTBEAT_TIMEOUT_SECONDS=90
POPPY_AGENT_HEARTBEAT_SCAN_INTERVAL_MILLISECONDS=30000
POPPY_AGENT_HEARTBEAT_OFFLINE_BATCH_SIZE=100
